<section class="banner-bottom py-5">
    <div class="container py-md-5">
        <div class="row banner-grids mb-lg-5">


            <div class="col-lg-7 content-right">
                <h3 class="title-w3pvt">About AZ Martial Arts</h3>
                <h4>We will help to find health, to everyone.</h4>
                <p class="mt-2 text-left">Integer pulvinar leo id viverra feugiat.Sed porttitor orci vel fermentum elit
                    maximus. Curabitur ut turpis massa in condimentum libero.Lorem Ipsum has been the industry's
                    standard since the 1500s. Praesent ullamcorper dui turpis. </p>
                <p class="mt-2 text-left">Lorem Ipsum has been the industry's standard since the 1500s. Praesent
                    ullamcorper dui turpis. </p>
                <div class="row stats text-left mt-5">
                    <div class="col-lg-4 counter">
                        <span class="fa fa-users"></span>
                        <div class="counter-info">
                            <h5>7200+</h5>
                            <p>Members</p>

                        </div>
                    </div>
                    <div class="col-lg-4 counter two">
                        <span class="fa fa-user-md"></span>
                        <div class="counter-info">
                            <h5>1150+</h5>
                            <p>Classes</p>

                        </div>
                    </div>
                    <div class="col-lg-4 counter">
                        <span class="fa fa-diamond"></span>
                        <div class="counter-info">
                            <h5>65+</h5>
                            <p>Experience</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 content-left">
                <img src="assets/images/about.jpg" alt="" class="img-fluid">
            </div>

        </div>

    </div>
</section>

<!-- 2nd section -->
<section class="banner-bottom py-5">
    <div class="container py-md-5">

        <h3 class="title-w3pvt text-center mb-5">About Our Master</h3>

        <div class="row banner-grids mb-lg-5">

            <!-- column code -->
            <div class="col-lg-5 content-left">
                <img src="assets/images/about.jpg" alt="" class="img-fluid" style="height:500px;width:500px">
                <br>
                <br>
                <br>
                <h5 style="text-align:center;">A Z Muheeb</h5>
            </div>
            <div class="col-lg-7 content-right">
                <h3 class="title-w3pvt">About AZ Martial Arts</h3>
                <h4>We will help to find health, to everyone.</h4>
                <p class="mt-2 text-left">Integer pulvinar leo id viverra feugiat.Sed porttitor orci vel fermentum elit
                    maximus. Curabitur ut turpis massa in condimentum libero.Lorem Ipsum has been the industry's
                    standard since the 1500s. Praesent ullamcorper dui turpis. </p>
                <p class="mt-2 text-left">Lorem Ipsum has been the industry's standard since the 1500s. Praesent
                    ullamcorper dui turpis. </p>
            </div>


        </div>

    </div>
</section>
