<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7776.104550934688!2d77.53510709999998!3d12.96850680000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc25486d3683719a!2sMcDonald&#39;s!5e0!3m2!1sen!2sin!4v1553312767440" width="1280" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    <section class="contact-main py-5">
        <div class="container py-md-5">
            <h3 class="title-w3pvt text-center">ಸಂಪರ್ಕಿಸಿ</h3>
            <div class="comment-top mt-5 row">
                <div class="col-lg-5 comment-bottom w3pvt_mail_grid-img">
                    <img class="img-fluid" src="assets/images/contact.jpg" alt="">
                </div>
                <div class="col-lg-7 comment-bottom w3pvt_mail_grid_right">
                    <form action="#" method="post">
                        <div class="row">

                            <div class="col-lg-6 form-group">
                                <label>ಮೊದಲ ಹೆಸರು</label>
                                <input class="form-control" type="text" name="Name" placeholder="" required="">
                            </div>
                            <div class="col-lg-6 form-group">
                                <label>  ಕೊನೆಯ ಹೆಸರು</label>
                                <input class="form-control" type="text" name="Name" placeholder="" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 form-group">
                                <label>ಇಮೇಲ್</label>
                                <input class="form-control" type="email" name="Email" placeholder="" required="">
                            </div>
                            <div class="col-lg-6 form-group">
                                <label>ದೂರವಾಣಿ ಸಂಖ್ಯೆ</label>
                                <input class="form-control" type="text" name="number" placeholder="" required="">
                            </div>

                        </div>
                        <div class="form-group">
                            <label>ಸಂದೇಶ</label>
                            <textarea class="form-control" name="Message" placeholder="" required=""></textarea>
                        </div>
                        <button type="submit" class="read-more btn submit mt-3" style="background-color:#a51890;color:white;padding: 0.8em 2em;display: inline-block;letter-spacing: 2px;line-height: 1.5em">ಸಲ್ಲಿಸಿ</button>
                    </form>
                </div>

            </div>

            <ul class="list-unstyled row text-left mt-lg-5 pt-lg-5  pb-lg-3">
                <li class="col-lg-4 adress-info">
                    <div class="row">
                        <div class="col-md-3 text-lg-center adress-icon">
                            <span class="fa fa-map-marker"></span>
                        </div>
                        <div class="col-md-9 text-left">
                            <h6>ಸ್ಥಳ</h6>
                            <p>The company name
                                <br>California, USA </p>
                        </div>
                    </div>
                </li>

                <li class="col-lg-4 adress-info">
                    <div class="row">
                        <div class="col-md-3 text-lg-center adress-icon">
                            <span class="fa fa-envelope-open-o"></span>
                        </div>
                        <div class="col-md-9 text-left">
                            <h6>ಇಮೇಲ್</h6>
                            <a href="mailto:info@example.com">mail@example.com</a>
                            <br>
                            <a href="mailto:info@example.com">mail2@example.com</a>
                        </div>
                    </div>
                </li>
                <li class="col-lg-4 adress-info">
                    <div class="row">
                        <div class="col-md-3 text-lg-center adress-icon">
                            <span class="fa fa-mobile"></span>
                        </div>
                        <div class="col-md-9 text-left">
                            <h6>ದೂರವಾಣಿ ಸಂಖ್ಯೆ</h6>
                            <p>+ 1234567890</p>
                            <p>+ 0987654321</p>
                        </div>
                    </div>
                </li>
            </ul>
            
        </div>
    </section>