<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.rectangle {
  height: 50px;
  width: 100px;

}
</style>
</head>
<body>
<div style="margin-left: 50px;margin-top: 50px;">
  <div class="row">
    <div class="col">
<div class="rectangle"  style="background-color:white;border: 1px solid black"></div></div>
<div class="col"><h1>White Belt</h1></div>
</div>
<br>
<br>
<div class="rectangle"  style="background-color:yellow;border: 1px solid black"></div>

<br>
<br>
<div class="rectangle"  style="background-color:orange;border: 1px solid black"></div>
<br>
<br>
<div class="rectangle"  style="background-color:blue;border: 1px solid black"></div>
<br>
<br>
<div class="rectangle"  style="background-color:green;border: 1px solid black"></div>
<br>
<br>
<div class="rectangle"  style="background-color:purple;border: 1px solid black"></div>
<br>
<br>
<div class="rectangle"  style="background-color:black;border: 1px solid black"></div>
<br>
<br>
</div>
</body>
</html> 