<img src="assets/images/banner1.jpg">


<section class="events py-5">
  <div class="container py-md-5">
    <h2 class="title-w3pvt text-center">ನಮ್ಮ ಸಾಧನೆಗಳು</h2>
    <div class="row mid-grids mt-5">
      
      <div class="col-md-7 content-left-bottom entry-w3layouts-info text-left mt-3">
        <h5 class="mt-1"><a href="single.html">17th ಆಲ್ ಇಂಡಿಯಾ ಇನ್ವಿಟೇಷನಲ್ ಕರಾಟೆ ಚಾಂಪಿಯನ್ಷಿಪ್ -2019</a></h5>
        <small>17 ಆಗಸ್ಟ್ 2019</small>
        <p class="mt-2 text-left">Integer pulvinar leo id viverra feugiat.<span class="text-capitalize font-w3layouts">
            Pellentesque libero justo, semper at tempus vel, ultrices in sed ligula. Nulla uter sollicitudin
            velit.</span> Sed porttitor orci vel fermentum elit maximus. Curabitur ut turpis massa in condimentum
          libero. Pellentesque maximus Pellentesque libero..</p>

      </div>
      <div class="col-md-5 content-w3pvt-img">
        <a href="single.html"><img src="assets/images/t1.jpg" alt="news image" style="border-radius:50%;" style="border-radius:50%;" class="img-fluid"></a>
      </div>

    </div>
    <div class="row mid-grids my-lg-5 py-lg-5">
      <div class="col-md-5 content-w3pvt-img">
        <a href="single.html"><img src="assets/images/t1.jpg" alt="news image" style="border-radius:50%;" class="img-fluid"></a>
      </div>

      <div class="col-md-7 content-left-bottom entry-w3layouts-info text-left mt-3">
        <h5 class="mt-1"><a href="single.html">2.Integer pulvinar leo</a></h5>
        <small>Feb 06.2019</small>
        <p class="mt-2 text-left">Integer pulvinar leo id viverra feugiat.<span class="text-capitalize font-w3layouts">
            Pellentesque libero justo, semper at tempus vel, ultrices in sed ligula. Nulla uter sollicitudin
            velit.</span> Sed porttitor orci vel fermentum elit maximus. Curabitur ut turpis massa in condimentum
          libero. Pellentesque maximus Pellentesque libero..</p>
      </div>
  
    </div>
    <div class="row mid-grids">
  
      <div class="col-md-7 content-left-bottom entry-w3layouts-info text-left mt-3">
        <h5 class="mt-1"><a href="single.html">3.Integer pulvinar leo</a></h5>
        <small>Feb 06.2019</small>
        <p class="mt-2 text-left">Integer pulvinar leo id viverra feugiat.<span class="text-capitalize font-w3layouts">
            Pellentesque libero justo, semper at tempus vel, ultrices in sed ligula. Nulla uter sollicitudin
            velit.</span> Sed porttitor orci vel fermentum elit maximus. Curabitur ut turpis massa in condimentum
          libero. Pellentesque maximus Pellentesque libero..</p>

      </div>
      <div class="col-md-5 content-w3pvt-img">
        <a href="single.html"><img src="assets/images/t1.jpg" style="border-radius:50%;" alt="news image" class="img-fluid"></a>
      </div>
    </div>

  </div>
</section>